.property {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 14px;
}

.property:hover .categories {
  display: flex;
}

.property:before {
  content: '>';
  font-weight: normal;
  font-size: 15px;
  position: absolute;
  color: #68696B;
  right: 10px;
}

.property:last-child {
  margin-bottom: 0;
}

.property_name {
  margin-bottom: 4px;
}

.property_value {
  width: 100%;
  height: 31px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  background-color: #ebecee;
  border: none;
  padding: 0 10px;
  outline: none;
  color: #68696B;
  
}

.property_value::placeholder {
  font-size: 15px;
  margin-left: 11px;
}
