* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100vh;
}

.slick-slide div[tabindex] {
  outline: none;
}

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 5px;
  height: 0;
  margin-left: 3px;
}

::-webkit-scrollbar-track {
  display: flex;
  background-color: #ecedee;
  width: 5px;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #434343;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #292929;
}

::-webkit-resizer{
  background-repeat:no-repeat;
  width:4px;
  height: 0;
  margin-left: 3px;
}

::-webkit-scrollbar{
  width: 4px;
}